In [2]:
import pandas as pd

In [3]:
glogs = pd.read_csv('https://raw.githubusercontent.com/tmarchok1/DS440_project/refs/heads/main/game_logs.csv')

glogs['month'] = glogs['date'].dt.to_period('M')
monthly_avg = glogs.groupby('month')['attendance'].mean().reset_index()

monthly_avg

AttributeError: Can only use .dt accessor with datetimelike values

In [3]:
# Econ Data
elogs = pd.read_csv('https://raw.githubusercontent.com/tmarchok1/DS440_project/main/econdata.csv')


elogs = elogs.drop(columns=[
    "QUARTERLY GDP GROWTH RATE (%)", "MONTHLY HOME SUPPLY", "MORTGAGE INT. MONTHLY AVG(%)",
    "CORP. BOND YIELD(%)", "QUARTERLY REAL GDP", "PPI-CONST MAT.", "MED HOUSEHOLD INCOME", "% SHARE OF WORKING POPULATION"
])

elogs['DATE'] = pd.to_datetime(elogs['DATE'], format='%d-%m-%Y')

elogs['switched_date'] = elogs['DATE'].dt.strftime('%Y-%m-%d')


elogs

,DATE,UNRATE(%),CONSUMER CONF INDEX,CPIALLITEMS,INFLATION(%),GDP PER CAPITA,CSUSHPISA,switched_date
0,2022-05-01,3.6,106.4,123.322800,8.581511,74737,120.724,2022-05-01
1,2022-04-01,3.6,107.3,121.978170,8.258629,74737,121.813,2022-04-01
2,2022-03-01,3.6,107.2,121.301004,8.542456,73289,122.888,2022-03-01
3,2022-02-01,3.8,110.5,119.702806,7.871064,73289,123.831,2022-02-01
4,2022-01-01,4.0,113.8,118.619339,7.479872,73289,124.780,2022-01-01
...,...,...,...,...,...,...,...,...
236,2002-09-01,5.7,94.5,76.365830,1.514302,38099,284.767,2002-09-01
237,2002-08-01,5.7,97.4,76.239257,1.802817,38099,290.371,2002-08-01
238,2002-07-01,5.8,106.3,75.986111,1.464789,38099,296.496,2002-07-01
239,2002-06-01,5.8,110.3,75.901729,1.067416,37860,301.704,2002-06-01
240,2002-05-01,5.8,108.5,75.859538,1.181767,37860,304.831,2002-05-01

In [4]:
elogs["DATE"].dtype

elogs['DATEE'] = pd.to_datetime(elogs['DATE'], format='%d-%Y')
elogs["DATE"] =  elogs['DATE'].dt.to_period('M') 
elogs_filtered = elogs[elogs['DATE'] <= '2016-11']      


elogs_filtered

,DATE,UNRATE(%),CONSUMER CONF INDEX,CPIALLITEMS,INFLATION(%),GDP PER CAPITA,CSUSHPISA,switched_date,DATEE
66,2016-11,4.7,107.1,101.829405,1.692537,58263,175.147,2016-11-01,2016-11-01
67,2016-10,4.9,98.6,101.988043,1.635988,58263,174.341,2016-10-01,2016-10-01
68,2016-09,5.0,104.1,101.861048,1.463784,57784,173.133,2016-09-01,2016-09-01
69,2016-08,4.9,101.1,101.616762,1.062874,57784,171.542,2016-08-01,2016-08-01
70,2016-07,4.8,97.3,101.523519,0.827139,57784,170.054,2016-07-01,2016-07-01
...,...,...,...,...,...,...,...,...,...
236,2002-09,5.7,94.5,76.365830,1.514302,38099,284.767,2002-09-01,2002-09-01
237,2002-08,5.7,97.4,76.239257,1.802817,38099,290.371,2002-08-01,2002-08-01
238,2002-07,5.8,106.3,75.986111,1.464789,38099,296.496,2002-07-01,2002-07-01
239,2002-06,5.8,110.3,75.901729,1.067416,37860,301.704,2002-06-01,2002-06-01
240,2002-05,5.8,108.5,75.859538,1.181767,37860,304.831,2002-05-01,2002-05-01

In [5]:
econmerge = pd.merge(elogs_filtered, monthly_avg, left_on='DATE', right_on='month', how='left') 
econmerge_clean = econmerge.dropna()


econmerge_clean
correlation_matrix = econmerge_clean.corr()

correlation_matrix

NameError: name 'monthly_avg' is not defined

In [ ]:
plt.figure(figsize=(8, 6))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f', cbar=True)
plt.title("Correlation Matrix")
plt.show()