In [ ]:
#percentage of stadium filled 
#By team, weekday, weather (possibly look to bucket weather- rainy, cold, hot, etc.)
#week/ point in the season
#cityPopulation and attendance. Determining which is more influential
#prevYearwins

#interaction variables and how to evaluate them 

#Store residuals and use as the response variable. See which variables contribute most to this error


# Questions
#Categorical - how to convert (one hot, mean, etc.) and how important these choices are
 # One hot encoding (30 variables, 29 0's and 1 1)
#Numeric - Normalization, etc.
#Interaction effects
    #Multiply variables by each other 
    #Sunny (0/1) and weekend (0/1). will be 1 if both

In [2]:
import pandas as pd
data = pd.read_csv('glogs_final.csv')
data

,date,year,week,day_of_week,v_name,h_name,day_night,park_id,temp,precip,capacity,prev_year_wins,made_playoffs,won_division,InstagramFollowers,CityPopulation,attendance
0,2005-04-03,2005,1,Sun,BOS,NYY,1,Old Yankee Stadium,51.7,0.587,56937.0,101,1,1,3900000,19940274,54818.0
1,2005-04-04,2005,1,Mon,OAK,BAL,0,Camden Yards,60.7,0.000,45971.0,78,0,0,746000,2859024,48271.0
2,2005-04-04,2005,1,Mon,CLE,CHW,0,US Cellular Field,56.2,0.000,40615.0,83,0,0,664000,9408576,38141.0
3,2005-04-04,2005,1,Mon,KC,DET,0,Comerica Park,59.0,0.000,41083.0,72,0,0,1000000,4400587,44105.0
4,2005-04-04,2005,1,Mon,MIN,SEA,0,Safeco Field,50.1,0.130,47943.0,63,0,0,927000,4145494,46249.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29030,2016-10-02,2016,24,Sun,MIL,COL,0,Coors Field,78.8,0.000,50144.0,68,0,0,552000,3052498,27762.0
29031,2016-10-02,2016,24,Sun,NYM,PHI,0,Citizens Bank Park,70.5,0.039,43651.0,63,0,0,1300000,6330422,36935.0
29032,2016-10-02,2016,24,Sun,LAD,SF,0,AT&T Park,66.0,0.000,41915.0,84,0,0,1600000,4648486,41445.0
29033,2016-10-02,2016,24,Sun,PIT,STL,0,Busch Stadium III,69.3,0.028,45494.0,100,1,1,1100000,2811927,44615.0
29034,2016-10-02,2016,24,Sun,MIA,WSH,0,Nationals Park,71.7,0.000,41339.0,83,0,0,711000,6436489,28730.0

In [ ]:
data['propFilled'] = data['attendance'] / data['capacity']

np.float64(1.1024984829696858)