In [13]:
import pandas as pd
wins = pd.read_csv(r"C:\Users\jcars\OneDrive\ds capstone\DS440_project\MLB_Wins\winsbyYear.csv")

             Team  Year  Wins  MadePlayoffs  DivisionWinner
0         Yankees  2005    95             1               1
1         Red Sox  2005    95             1               0
2       Blue Jays  2005    80             0               0
3         Orioles  2005    74             0               0
4            Rays  2005    67             0               0
..            ...   ...   ...           ...             ...
385        Padres  2004    87             0               0
386  Diamondbacks  2004    51             0               0
387        Giants  2004    91             0               0
388       Dodgers  2004    93             1               1
389       Rockies  2004    68             0               0

[390 rows x 5 columns]